/* Custom Navbar Styles */
.navbar-custom {
  background-color: #333333
}

.navbar-custom .navbar-brand {
}
.navbar-custom .nav-link {
  color: white; /* Change text color for better contrast */
}

/* Change dropdown menu background and text color */
.navbar-custom .dropdown-menu {
  background-color: #333333;

}
.navbar-custom .dropdown-item {
  color: black; /* Text color of dropdown items */
}

/* Change navbar-toggler color for mobile view */
.navbar-custom .navbar-toggler {
  background-color: #333333
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"); /* Toggler icon color */
}
