/* styles.css or styles.scss */
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-inputs {
  display: flex;
  gap: 10px;
}

.search-options {
  display: flex;
  gap: 10px;
}

.search-input {
  display: flex;
  flex-direction: column;
}

.muscles-dropdown {
  position: relative;
}

.muscles-dropdown select {
  width: 150px; /* Adjust the width as needed */
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns with equal width */
  grid-template-rows: repeat(2, minmax(0, 1fr)); /* 2 rows with equal height */
  gap: 10px; /* Adjust the gap between items as needed */
}

.exercise-item {
  width: 100%; /* Each item takes 100% width of its column */
  box-sizing: border-box;
  overflow: hidden; /* Hide overflow if necessary */
}

.exercise-item img {
  width: 50%; /* Make sure the image takes 100% width of its container */
  height: auto; /* Maintain the aspect ratio */
  cursor: pointer; /* Add pointer cursor for better user experience */
}
.muscles-container {
  display: flex;
  flex-wrap: wrap;
}

.muscles-checkboxes {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.muscle-checkbox {
  display: flex;
  align-items: center;
}

.muscle-checkbox input {
  margin-right: 5px;
}


.selected-exercise-container {
  margin-top: 20px; /* Adjust the margin as needed */
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.selected-exercise-item {
  flex-basis: calc(16.666% - 10px); /* 6 exercises per line, with 10px gap between items */
  box-sizing: border-box;
  overflow: hidden; /* Hide overflow if necessary */
  position: relative;
}

.selected-exercise-item img {
  width: 50%; /* Make sure the image takes 100% width of its container */
  height: auto; /* Maintain the aspect ratio */
  cursor: pointer; /* Add pointer cursor for better user experience */
}

.selected-exercise-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for text */
  padding: 5px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Align with the previous line */
.selected-exercise-item:nth-child(n+7) {
  margin-top: 10px;
}


.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Make the container take the full height of the viewport */
}

/* Style the message and button as needed */
.no-results p {
  font-size: 18px;
  margin-bottom: 20px;
}
